<table>
  <thead>
    <tr>
      <th>ActionCable</th>
      <th>RabbitMQ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="cable status"></td>
      <td class="rabbit status"></td>
    </tr>
  </tbody>
  <tbody id="messages">
  </tbody>
</table>
